<h1>This page will display information about entry number <%= params[:id] %></h1>

<h1><%= @entry.word %></h1>

<%= render 'single_entry', entry: @entry %>

<%= link_to 'Edit', edit_entry_path %> | <%= link_to "Delete", entry_path(@entry), method: :delete %>
